.presentation-div {
  background-color: white;
  color: black;
  text-align: center;
  padding-block: 1rem;
}

.presentation-details {
  display: flex;
  align-items: center;
  background: white;
  color: black;
  overflow: hidden;
}

.presentation-img {
  max-height: 400px;
}

.presentation-text {
  align-self: center;
  font-weight: 700;
  padding: 30px;
}
.presentation-p {
  margin-block: 1.5rem;
}

/* Responsive Tablette */
@media screen and (min-width: 451px) and (max-width: 780px) {
  .presentation-details {
    flex-direction: column;
    margin-inline: 20px;
    border-radius: 5px;
  }
  .presentation-text {
    padding: 20px;
  }
  .presentation-p {
    margin-block: 1rem;
  }
}

/* Responsive Mobile */
@media screen and (max-width: 450px) {
  .presentation-details {
    flex-direction: column;
    margin-inline: 10px;
    border-radius: 5px;
  }

  .presentation-img {
    width: 259px;
    align-self: center;
  }

  .presentation-text {
    padding: 15px;
  }

  .presentation-p {
    margin-block: 0.5rem;
  }
}
