// Variables
$primary-color: #00df9a;
$background-color: #000300;
$border-color: #000300;
$border-color-r: #000300;

// Styles
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to left, #434343, #000);
  max-width: 1240px;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  .header-logo {
    filter: invert(1) brightness(2);
  }
  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    width: 100%;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: bold;
    color: $primary-color;
  }

  ul {
    &.desktop-menu {
      display: none;

      @media (min-width: 768px) {
        display: flex;
      }

      li {
        list-style: none;
        padding: 1rem;
        a {
          text-decoration: none;
          padding: 1em;
          border-radius: 8px;
        }
        .active {
          color: #000000 !important;
          background-color: #00df9acc;
        }
        .connected {
          color: #00df9a;
        }
      }
    }

    &.mobile-menu {
      position: fixed;
      z-index: 99999;
      left: -100%;
      top: 0;
      width: 60%;
      height: 100%;
      border-right: 1px solid $border-color-r;
      background-color: $background-color;
      transition: left 0.5s ease-in-out;

      &.open {
        left: 0;
        .bottom-nav {
          position: absolute;
          bottom: 30px;
          .bottom-nav-icon {
            position: absolute;
            margin-left: 10px;
          }
        }
      }

      h1 {
        margin: 1rem;
      }
      .menu-div-title-log-indicator {
        display: flex;
        align-items: center;
        padding-right: 1em;
      }

      .connected {
        color: #00df9a;
      }

      li {
        padding: 1rem;
        border-bottom: 1px solid $border-color;
      }
    }
  }

  .menu-icon {
    display: block;

    @media (min-width: 768px) {
      display: none;
    }
  }
}
