.buttons-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  button {
    margin: 0.5em;
  }
}

input[type="search"] {
  padding: 1em;
}

.techno-indicator {
  margin: 15px;
}

.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (max-width: 450px) {
    grid-template-columns: 1fr;
  }
  @media(min-width: 450px) and (max-width: 650px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
